name: CI Pipeline

on: 
  push:
    branches: [ main ]


jobs:
  build: 
    runs-on: ubuntu-latest

  steps:
      name: Checkout code
      uses: actions/checkout@v5
    
      name: Set Up Node.js
      uses: actions/setup-node@3
      with: 
        node-version: 25

      name: Install dependencies
      run: npm install
    
      name: Run tests
      run: npm test